* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #111;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    /*padding: 150px 0;*/
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    object-fit: cover;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    font-size: 12px;
}

.slider-container {
    max-width: 500px;
    padding: 0 30px;
    margin: 30px auto;
    width: 100%;
}

.swiper-container {
    overflow: hidden;
    width: 100%;
    position: relative;
    padding-bottom: 30px;
}

.card {
    /*padding: 30px;*/
    background-color: LawnGreen;
    min-height: 150px;
    color: #111;
    font-size: 16px;
    width: auto;
}



.swiper-button-prev,
.swiper-button-next {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev {
    background-image: url("arrow.png");
}

.swiper-button-next {
    background-image: url("arrow.png");
    transform: rotate(180deg);
}

.slider-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.slider-buttons {
    position: relative;
    width: 30%;
    display: flex;
    /*gap: 15px;*/
}

